{% set footerNav1 = craft.navigation.nodes()
  .handle('footerC1')
  .level(1)
%}
{% set footerNav2 = craft.navigation.nodes()
  .handle('footerC2')
  .level(1)
%}

{% set smallPrintNav = craft.navigation.nodes()
  .handle('smallPrint')
  .level(1)
%}

<footer class="bg-gray-800 text-blue-200 py-14">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-12 items-start">
      <div class="flex items-center justify-between pb-7 md:col-span-4 lg:col-span-3">
          <a href="{{ url('/') }}" aria-label="{{ siteName }} Homepage">
            {{ svg('static/img/branding.svg')|attr({
              class: 'fill-blue-200 h-[3rem] lg:h-[2.4rem]',
            }) }}
          </a>

          {% if seomatic.site.sameAsLinks['linkedin'] %}
            <div class="flex gap-2">
              <a href="{{ seomatic.site.sameAsLinks['linkedin'].url }}" target="_blank"rel="noopener noreferrer">
                <span class="sr-only">{{ siteName }} on LinkedIn</span>
                {{ svg('static/img/icons/linkedin.svg')|attr({
                  class: 'lg:hidden h-6 text-blue-200 active:text-gray-200 hover:text-gray-200',
                }) }}
              </a>
            </div>
          {% endif %}
      </div>
      <div class="mb-12 md:col-span-2 lg:col-span-4">
        <p>
          <p>
            {{ contact.address|nl2br }}

            {% if contact.mapUrl|length %}
              <a href="{{ contact.mapUrl }}" target="_blank"rel="noopener noreferrer">
                <span class="sr-only">View address on a map</span>
                {{ svg('static/img/icons/marker.svg')|attr({
                  class: 'inline-block h-5 mb-1 fill-blue-200 active:fill-blue-500 hover:fill-blue-500',
                }) }}
              </a>
            {% endif %}
          </p>
        </p>
        <p>
          {% if contact.telephone %}
            {{ contact.telephone }}<br>
          {% endif %}
          {% if contact.heading %}
            {{ contact.heading }}<br>
          {% endif %}
          {% if contact.email %}
            <a href="mailto:{{ contact.email }}" class="underline active:text-gray-200 hover:text-gray-200">
              {{ contact.email }}
            </a>
          {% endif %}
      </div>
      <ul class="list-none mb-12 xs:columns-2 xs:gap-4 lg:columns-1 md:col-span-2 lg:col-span-3">
        {% for item in footerNav1.all() %}
          <li class="break-inside-avoid">
            {{ item.link|attr({ class: 'inline-block mb-3 hover:underline focus:underline'}) }}
          </li>
        {% endfor %}
      </ul>
      <div class="hidden lg:flex gap-2 lg:col-span-2">
        <ul class="list-none mb-12 xs:columns-2 xs:gap-4 lg:columns-1 md:col-span-2 lg:col-span-3">
          {% for item in footerNav2.all() %}
            <li class="break-inside-avoid">
              {{ item.link|attr({ class: 'inline-block mb-3 hover:underline focus:underline'}) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <ul class="grid gap-y-6 md:grid-cols-4 lg:grid-cols-12 text-sm">
      <li class="md:col-span-2 lg:col-span-4 lg:col-start-4">
        &copy; {{ "now"|date("Y") }} {{ systemName }}. All Rights Reserved
      </li>
      <li class="lg:col-span-3">
        <ul class="flex gap-2 text-sm small-print-nav">
          {% for item in smallPrintNav.all() %}
            <li class="mb-3">{{ item.link|attr({ class: 'underline hover:text-gray-200'}) }}</li>
          {% endfor %}
        </ul>
      </li>
      {% if seomatic.site.sameAsLinks['linkedin'] %}
        <li class="lg:col-span-2">
          <a href="{{ seomatic.site.sameAsLinks['linkedin'].url }}" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">{{ siteName }} on LinkedIn</span>
            {{ svg('static/img/icons/linkedin.svg')|attr({
              class: 'hidden lg:block h-6 text-blue-200 active:text-gray-200 hover:text-gray-200',
            }) }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</footer>
