{# Optional #}
{% set eyebrow = block.eyebrow ?? '' %} {# Plain Text #}
{% set heading = block.heading ?? '' %} {# Plain Text #}
{% set copy = block.copy ?? '' %} {# Plain Text #}
{% set checklist = block.checklist ?? [] %} {# Table #}
{% set lightswitchField = block.lightswitch ?? false %} {# Lightswitch #}

<section class="checklist-section py-24 {{ lightswitchField ? 'light' : 'dark' }}">
  <div class="container {{ lightswitchField ? 'light' : 'dark' }}">
    <div class="layout-grid items-center gap-y-12">
      <div class="col-span-full lg:col-span-6 flex flex-col items-start gap-[18px]">
        {% if eyebrow %}
          <div class="t-eyebrow">{{ eyebrow }}</div>
        {% endif %}

        {% if heading %}
          <h2 class="t-h2 {{ lightswitchField ? 'light' : 'dark' }}">{{ heading }}</h2>
        {% endif %}

        {% if copy %}
          <div class="text-xl">{{ copy|nl2br }}</div>
        {% endif %}
      </div>
      <div class="col-span-full lg:col-span-5 lg:col-start-8 flex flex-col gap-6 reveal-items-container">
        {% for row in checklist %}
          <div class="flex items-center gap-3 px-5 py-3 bg-gray-800 reveal-items-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30" height="30" viewBox="0 0 30 30" fill="none"
              class="shrink-0 w-[30px]"
              aria-label="Checkmark"
              role="presentation"
            >
              <circle cx="15" cy="15" r="14.5" fill="#001D3F" stroke="#001D3F"/>
              <path d="M9 15.1081L12.9273 19L21 11" stroke="white" stroke-width="2"/>
            </svg>
            <div class="text-blue-200 text-xl">{{ row.detail }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
