{# Themes #}
{% import "_macros/image" as _image %}
{% set themes = craft.entries.section('themes').with(['backgroundImage','icon']).all() %}


<div
  class="block-{{ block.id }}"
>
  {% for theme in themes %}
    {% set backgroundImage = theme.backgroundImage.one() ?? null %}
    {% set alignment = "mr-auto" %}
    {% if loop.index % 2 == 0 %}
      {% set alignment = "ml-auto" %}
    {% endif %}
    <div
      role="region"
      class="relative group/item bg-cover my-10 md:w-1/2 {{ alignment }}"
      style="{{ _image.background(backgroundImage) }}"
    >
      <div class="bg-blue-200 bg-opacity-90">
        <div
          id="{{ theme.slug }}"
          class="container"
        >
          <div
            class="flex items-center w-full gap-5 text-left justify-between group py-[30px]"
          >
            <div class="flex gap-5 items-center">
              <div class="bg-white w-16 p-0.5 aspect-square rounded-full text-blue-300">
                {% set icon = theme.icon[0] ?? null %}
                {% if icon %}
                  <img src="{{ icon.url }}" alt="{{ icon.alt }}">
                {% endif %}
              </div>
              <div class="flex-1 pt-1">
                <h3 class="t-h3 text-3xl leading-none mb-3">{{ theme.title }}</h3>
                <p class="text-lg">
                  {{ theme.copy|nl2br }}
                </p>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  {% endfor %}
</div>
