{% import "_macros/image" as _image %}
{% set company = company ?? null %}
{% set position = postion ?? 0 %}

{% if company %}
  {% set logo = company.logo[0] ?? company.logo.one() ?? null %}
  {% set dealStatus = company.dealStatus.one() ?? null %}
  {% if company.additionalLogos.count() %}
  <div class="group h-full flex flex-col gap-5 justify-between bg-white py-5 relative min-h-64 rounded-md{% if dealStatus.slug == 'realized' or dealStatus.slug == 'merged' or dealStatus.slug == 'partially-realized' %} border-green-500 border-[5px]{% endif %}">
  {% else %}
  <a
    href="{{ company.websiteLink }}"
    class="group h-full flex flex-col gap-5 justify-between bg-white py-5 relative min-h-64 rounded-md{% if dealStatus.slug == 'realized' or dealStatus.slug == 'merged' or dealStatus.slug == 'partially-realized' %} border-green-500 border-[5px]{% endif %}"
    target="_blank"
  >
  {% endif %}
    <div class="pb-5 flex flex-col justify-between h-full">
      <div class="w-full {% if company.additionalLogos|length %}mb-5{% else %}mb-12{% endif %} justify-center px-5">
        {% if company.transactionDate %}
          <h4 class="text-xl text-center pb-3 font-semibold">{{ company.transactionDate|date('F Y') }}</h4>
        {% endif %}
        {% if logo %}
          {% if company.additionalLogos.count() %}<a href="{{ company.websiteLink }}" target="_blank">{% endif %}
          {{ _image.tag(
            logo,
            company.title,
            { height: 78, quality: 100 },
            "object-contain mx-auto",
            logo.extension
          ) }}
          {% if company.additionalLogos.count() %}</a>{% endif %}
        {% endif %}
      </div>
      {% if company.additionalLogos.count() %}
        <div class="grid grid-cols-{{company.additionalLogos|length}} px-2 items-center">
          {% for block in company.additionalLogos.all() %}
            {% if block.type == 'logos' %}
              <div>
                {% if block.logoText %}
                  <h4 class="text-center pb-3 font-semibold">{{ block.logoText }}</h4>
                {% endif %}
                {% if block.logo.one() %}
                  {% set image = block.logo.one() %}
                  {% set format = block.logo.one().extension %}
                  {# Set default transform options #}
                  {% set transform = [] %}
                  {% set defaultTransform = {
                    quality: 85,
                    format: format,
                    height: 78, 
                    quality: 100
                  } %}

                  {# Merge supplied transform, including dimensions #}
                  {% set transform = defaultTransform|merge(transform) %}

                  {% do image.setTransform(transform) %}
                  {% if block.logoUrl %}<a href="{{ block.logoUrl }}" target="_blank">{% endif %}
                  <img
                    src="{{ image.url }}"
                    alt="{{ image.title }}"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                    srcset="{{ image.srcset(['1.5x','2x','3x']) }}"
                    class="object-contain mx-auto max-w-40 subsidiary-logo"
                    loading="lazy"
                    data-url="{{ block.logoUrl }}"
                  />
                  {% if block.logoUrl %}</a>{% endif %}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div>
        {% if company.funds.count() %}<h4 class="text-xl text-center font-bold pt-5">{{ company.funds.one().title }}</h4>{% endif %}
        {% if dealStatus %}
          <h4 class="text-xl text-center italic">{{ dealStatus.title }}{% if (dealStatus.slug == 'realized' or dealStatus.slug == 'merged' or dealStatus.slug == 'partially-realized') and company.mergedRealizedDate %} {{ company.mergedRealizedDate|date('M Y') }}</h4>{% endif %}
        {% endif %}
      </div>
    </div>
    <div class="absolute left-0 right-0 -bottom-4">
      <div class="bg-blue-500 group-hover:bg-blue-300 transition-colors duration-300 flex gap-2 items-center justify-center rounded-full w-9 h-9 mx-auto">
        {{ svg('static/img/icons/plus.svg')|attr({ class: 'h-6 w-6 fill-white'}) }}
      </div>
    </div>
  {% if company.additionalLogos.count() %}</div>{% else %}</a>{% endif %}
{% endif %}
